@model IEnumerable<MusicShop.Domain.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (ViewBag.isSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Customer Added Successfully!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form asp-action="Index">
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary mb-2" type="button" data-toggle="collapse" id="btnCollapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Search
        </button>
        <div class="collapse @(ViewData["Searching"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-5">Search Customer:</label>
                            <div class="col-md-8">
                                @Html.TextBox("SearchString", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"> </label>
                            <div class="col-md-8">
                                <input type="submit" name="actionButton" value="Search" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}
